.row {
    border-top: 1px solid #ccc;
    display: flex;
    height: auto;
    text-align: center;
}

.row:last-child {
    border-bottom: 1px solid #ccc;
}

.col {
    width: 40px;
    text-align: center;
}

.dateField {
    width: 160px;
    text-align: center;
    flex: 4;
}

.flex {
    display: flex;
    height: auto;
    text-align: center;
}